@charset "utf-8";

/*----------------------------------------------
初期設定
-----------------------------------------------*/
*{
  margin: 0;
  padding: 0;
}

#container {
  margin: 0 auto;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}

/*----------------------------------------------
PC＋SP共通の設定　※768px以上
-----------------------------------------------*/
header {
  /* width: 100vw;
  height: 80vh;
  background-image: url(../images/mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  margin-bottom: 60px; */
}
/* main image */
.main_image{
  position: relative;
}
.main_image img{
  width: 100%;
  height: auto;
}



/*----------------------------------------------
ここからswiper用のcssを書く
-----------------------------------------------*/
header {
  margin-bottom: 0px;
}
.sp_header{
  display: none;
}
.main_image h1 {
  width: 120px;
  background-color: rgba(0,0,0,0.05);
  border-radius: 3px;
  padding: 48px 24px;
  border: solid 6px #fff;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);
}

article {
  box-sizing: border-box;
  max-width: 1024px;
  padding: 24px;
  margin: 0 auto;
  color: #333;
}

article section {
  max-width: 768px;
  margin: 0 auto 120px;
}

article section:nth-last-of-type(2) {
  margin-bottom: 24px;
}

article section:nth-last-of-type(1) {
  margin-bottom: 48px;
}

article section h2 {
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

article section#content00 h2 {
  text-align: center;
}

article section#content01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article section div {
  margin-right: 36px;
  width: 50%;
}

article section p {
  font-size: 14px;
  font-weight: 100;
  line-height: 1.8em;
}

article section#content01 figure {
  width: 50%;
}

article section#content01 img {
  width: 100%;
  box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.2);
}

article section#content00 h2,
article section#content01 h2 {
  margin-bottom: 12px;
}

article section#content02 h2 {
  text-align: center;
  margin-bottom: 36px;
}

section#content02 #photo_list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

section#content02 #photo_list li {
  margin-bottom: 22px;
}

section#content02 #photo_list li a {
  transition: 0.5s;
}

section#content02 #photo_list li a:hover {
  opacity: 0.5;
}

section#content02 #photo_list img {
  width: 240px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.3);
}

.contact {
  display: block;
  width: 200px;
  padding: 12px 24px;
  text-align: center;
  margin: 24px auto 0;
  border: 3px solid #444;
  border-radius: 4px;
  text-decoration: none;
  color: #444;
  transition: opacity 0.5s;
}

.contact:hover {
  opacity: 0.7;
}

footer {
  text-align: center;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  padding: 6px 0;
}

/* アコーディオン用*/
#accordion{
  margin-top: -50px;
}
#accordion dt{
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}
#accordion dd{
    padding: 20px;
    padding-top: 0px;
    display: none;
}

/*----------------------------------------------
sp設定　768px以下の表示
-----------------------------------------------*/
@media (max-width: 768px) {
  article {
    padding: 12px;
  }

  article section#content01 {
    display: block;
  }

  .sp_header{
    display: block;
  }
  
  article section h2 {
    font-size: 24px;
  }

  article section p {
    font-size: 12px;
  }

  article section#content00,
  article section#content01 {
    margin-bottom: 48px;
  }

  article section#content01 div {
    width: 100%;
    margin-bottom: 24px;
  }

  article section#content01 figure {
    width: 100%;
  }
  article section#content00 h2,
  article section#content02 h2 {
    margin: 0 0 12px;
    text-align: left;
  }

  section#content02 #photo_list li {
    width: 50%;
    box-sizing: border-box;
    padding: 4px 6px;
    margin-bottom: 0;
  }

  section#content02 #photo_list img {
    width: 100%;
  }
}/* 768px END*/


/* remodal */
.remodal img{
  width: 100%;
  height: auto;
}